# .vscode はpushしない
/.vscode

# メタデータどもは push しない (情報漏洩対策)
/meta/db-conf.json
/meta/token.json
/meta/prefix.json
/meta/reportCh.json

# nodeのモジュールは push しない(クソデカファイル)
/node_modules


# 一時ディレクトリは push しない
/tmp