<style>
     #studyGraphBar0{width: ?studyGraphBar0px;}
     #studyGraphBar1{width: ?studyGraphBar1px;}
     #studyGraphBar2{width: ?studyGraphBar2px;}
     #studyGraphBar3{width: ?studyGraphBar3px;}
     #studyGraphBar4{width: ?studyGraphBar4px;}
     #studyGraphBar5{width: ?studyGraphBar5px;}
     #studyGraphBar6{width: ?studyGraphBar6px;}
</style>

<div id="study" class="bgc2 block margin5 floatR borderRadius">
    <p class="bgc1 txtc2 margin5 padding5 txtAlignC borderRadius">Study</p>
    <div id="total" class="bgc1 floatL padding5 borderRadius">
        <p class="txtc2 margin0 txtAlignC">total</p>
        <h1 id="totalStudyTime" class="txtc2 margin0 txtAlignC">?totalStudyTimeh</h1>
    </div>
    <div id="week" class="bgc1 floatL padding5 borderRadius">
        <p class="txtc2 margin0 txtAlignC">7days</p>
        <h1 id="weekStudyTime" class="txtc2 margin0 txtAlignC">?7daysStudyTimeh</h1>
    </div>
    <div id="studyTime" class="bgc1 borderRadius">

        <div id="day1" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date0</p>
            <p class="txtc2 block margin5 floatL">?studyTime0h</p>
            <div id="studyGraphBar0" class="bgc3 floatR studyGraphBar"></div>
        </div>

        <div id="day2" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date1</p>
            <p class="txtc2 block margin5 floatL">?studyTime1h</p>
            <div id="studyGraphBar1" class="bgc3 floatR studyGraphBar"></div>
        </div>

        <div id="day3" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date2</p>
            <p class="txtc2 block margin5 floatL">?studyTime2h</p>
            <div id="studyGraphBar2" class="bgc3 floatR studyGraphBar"></div>
        </div>

        <div id="day4" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date3</p>
            <p class="txtc2 block margin5 floatL">?studyTime3h</p>
            <div id="studyGraphBar3" class="bgc3 floatR studyGraphBar"></div>
        </div>

        <div id="day5" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date4</p>
            <p class="txtc2 block margin5 floatL">?studyTime4h</p>
            <div id="studyGraphBar4" class="bgc3 floatR studyGraphBar"></div>
        </div>

        <div id="day6" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date5</p>
            <p class="txtc2 block margin5 floatL">?studyTime5h</p>
            <div id="studyGraphBar5" class="bgc3 floatR studyGraphBar"></div>
        </div>

        <div id="day7" class="studyGraphDay">
            <p class="txtc2 block margin5 floatL">?date6</p>
            <p class="txtc2 block margin5 floatL">?studyTime6h</p>
            <div id="studyGraphBar6" class="bgc3 floatR studyGraphBar"></div>
        </div>
    </div>
</div>